
<!DOCTYPE html>
<html>
	<head>
		
		<title>СпортТусовка</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js" integrity="sha256-OqfsQXAGfyz0njzJEepuBcQwxXRnv2I3RW70XkpsIbk=" crossorigin="anonymous"></script>




		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>		
		<nav class="navbar fixed-top bg-dark navbar-dark py-0">			
			<a class="navbar-brand d-flex flex-row align-items-center" href="#">
				<img src="img/running2.svg" class="navbar-icon" />
				<h2 class="nav-name d-md-block d-none">СпортТусовка</h2>
			</a>
			<ul class="navbar-nav d-flex flex-row">
				<li class="nav-item">
					<a class="nav-link" href="#">Find</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Create</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">User's Name</a>
				</li>
			</ul>
		</nav>

		<div class="row mx-0 px-0" style="background-color: #CDC1D4;">
			<div class="col-md-8 col-11 px-0 mx-auto account-container">
				<div class="row pt-5">
					<div class="col-md-6 col-12 d-flex justify-content-center">
						<img class="account-img img-fluid" src="img/main_run.jpg" />
					</div>
					<div class="col-md-6 col-12 pt-3 d-flex flex-column align-items-md-start align-items-center">
						<h3><b>Ім'я Прізвище</b></h3>
						<p>20 років</p>
						<div class="d-flex align-items-center mb-2">
							<img class="social-icon" src="img/insta-icon.png" />
							<p class="mb-0 ml-2"><b>@lorem_isprum</b></p>
						</div>
						<div class="d-flex align-items-center">
							<img class="social-icon" src="img/telegram_icon.png" />
							<p class="mb-0 ml-2"><b>@lorem_isprum</b></p>
						</div>
					</div>
				</div>

				<p class="mx-md-5 p-md-5 p-4 text-center"><b>Про себе:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu ac tortor dignissim convallis aenean et. Platea dictumst vestibulum rhoncus est pellentesque elit. Lacus sed viverra tellus in hac. Arcu cursus euismod quis viverra nibh.</p>

				<div class="row mx-0 px-0">
					<div class="col-md-4 col-12 d-flex flex-column align-items-center">
						<p class="text-center"><b>Тусовок<br/>Відвідано</b></p>
						<p class="info">5</p>
					</div>
					<div class="col-md-4 col-12 d-flex flex-column align-items-center mt-md-0 mt-4">
						<p class="text-center"><b>Тусовок</br>Створено</b></p>
						<p class="info">5</p>
					</div>
					<div class="col-md-4 col-12 d-flex flex-column align-items-center mt-md-0 mt-4 mb-5">
						<p class="text-center"><b>Учасник<br/>Вже</b></p>
						<p class="info">5 місяців</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>