
<!DOCTYPE html>
<html>
	<head>
		
		<title>СпортТусовка</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js" integrity="sha256-OqfsQXAGfyz0njzJEepuBcQwxXRnv2I3RW70XkpsIbk=" crossorigin="anonymous"></script>




		<link rel="stylesheet" href="css/style.css"/>
	</head>
	<body>		
		<nav class="navbar fixed-top bg-dark navbar-dark py-0">			
			<a class="navbar-brand d-flex flex-row align-items-center" href="#">
				<img src="img/running2.svg" class="navbar-icon" />
				<h2 class="nav-name d-md-block d-none">СпортТусовка</h2>
			</a>
			<ul class="navbar-nav d-flex flex-row">
				<li class="nav-item">
					<a id="find-right-bar-open" class="nav-link" href="#">Find</a>
				</li>
				<li class="nav-item">
					<a id="create-right-bar-open" class="nav-link" href="#">Create</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">User's Name</a>
				</li>
			</ul>
		</nav>

		<div class="row mx-0 px-0">
			<div class="col-12"></div>

			<div id="find-right-bar" class="right-bar d-flex flex-column align-items-center">
				<a href="#" class="close-right-bar">
					<div></div>
					<div></div>
				</a>

				<div class="mt-5 pt-5">
					<div>
						<label for="event-date">Дата: </label>
						<input type="date" name="event-date">
					</div>
					<div>
						<label>Район: </label>
						<select>
							<option value="region1">Region1</option>
							<option value="region2">Region2</option>
							<option value="region3">Region3</option>
							<option value="region4">Region4</option>
						</select>
					</div>
					<div>
						<label for="birthday">Район: </label>
						<input type="date" name="event-date">
					</div>
				</div>


				<a href="#"><button class="mx-3 button-outline">Знайти</button></a>
			</div>

			<div id="create-right-bar" class="right-bar d-flex flex-column align-items-center">
				<a href="#" class="close-right-bar">
					<div></div>
					<div></div>
				</a>

				<div class="mt-5 pt-5">
					<div>
						<label for="event-date">Дата: </label>
						<input type="date" name="event-date">
					</div>
					<div>
						<label>Район: </label>
						<select>
							<option value="region1">Region1</option>
							<option value="region2">Region2</option>
							<option value="region3">Region3</option>
							<option value="region4">Region4</option>
						</select>
					</div>
					<div>
						<label for="birthday">Район: </label>
						<input type="date" name="event-date">
					</div>
				</div>


				<a href="#"><button class="mx-3 button-outline">Створити</button></a>
			</div>

		</div>

		<script>
			$(document).ready(function() {
				$(".close-right-bar").click(function() {
					$(this).parent().css("right", -$("#create-right-bar").width());
				});

				$("#find-right-bar-open").click(function() {
					$("#find-right-bar").css("right", "0");
					$("#create-right-bar").css("right", -$("#create-right-bar").width());
				});

				$("#create-right-bar-open").click(function() {
					$("#create-right-bar").css("right", "0");
					$("#find-right-bar").css("right", -$("#create-right-bar").width());
				});
			});
		</script>
	</body>
</html>