{% extends "app.html" %}

{% block map %}

<div id="mapid" style="width: 100vw; height: 80vh;"></div>
<script>

	function getLocation() {
	  if (navigator.geolocation) {
	    navigator.geolocation.getCurrentPosition(initter);
	  } else {
	    x.innerHTML = "Geolocation is not supported by this browser.";
	  }
	}
	getLocation();

	function initter(position){
		var defLat =51.505;
		var defLong = -0.09;
		defLat= position.coords.latitude;
		defLong = position.coords.longitude;

		var mymap = L.map('mapid').setView(L.latLng(defLat, defLong), 13);

		L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
				'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox/streets-v11',
			tileSize: 512,
			zoomOffset: -1
		}).addTo(mymap);

		L.marker([defLat, defLong]).addTo(mymap)
			.bindPopup("<b>Це твоя локація</b>").openPopup();

		// L.circle([51.508, -0.11], 500, {
		// 	color: 'red',
		// 	fillColor: '#f03',
		// 	fillOpacity: 0.5
		// }).addTo(mymap).bindPopup("I am a circle.");

		// L.polygon([
		// 	[51.509, -0.08],
		// 	[51.503, -0.06],
		// 	[51.51, -0.047]
		// ]).addTo(mymap).bindPopup("I am a polygon.");


		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(mymap);
		}

		mymap.on('click', onMapClick);

	}

	
</script>

{% endblock %}